{%extends 'project/base.html'%}
{% load crispy_forms_tags %}
{% block title%}<title>Edit Profile</title>{%endblock%}
{% load static %}
{% block body%}

<div class="container py-5">
    <h2>Edit Profile</h2>
    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-dismissible fade show {{ message.tags }}" role="alert">
                              {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                         {% endfor %}
                {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ user_form|crispy}}
      {{ profile_form|crispy}}
      <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
{% endblock %}