{%extends 'project/base.html'%}
{% block title%}<title>Home - Mohd Tariq Khan</title>{%endblock%}
{% block body%}
{% load static %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <p><img src="{%static 'project/user.png'%}" class="img-fluid"></p>
      <h1 class="jumbotron-heading">Mohd Tariq</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/media/{{project.image}}" width="100%" height="225" class="img-fluid">
            <div class="card-body">
              <p class="card-text">{{project.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/{{project.id}}" class="btn btn-sm btn-outline-secondary">View Details</a>
                </div>
                <small class="text-muted">{{project.pub_date}}</small>
              </div>
            </div>
          </div>
        </div>
         {% endfor %}
      </div>

    </div>
  </div>

</main>
{% endblock %}