{% extends 'project/base.html'%}
{% block title%}<title>Contact Us</title>{% endblock %}
{% block body%}
    <div class="container my-4">
        <h2 class="mb-4">Register</h2>

        <form method="post" action="{% url 'register'%}">{%csrf_token%}
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show {{ message.tags }}" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
             {% endfor %}
            {% endif %}
          <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password">
          </div>
          <div class="form-group">
            <label for="cpassword">Confirm Password</label>
            <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Enter Your Password Again.">
          </div>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name">
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}