.about p{
text-align:justify;
}
.footer{
background:#000000;
padding:15px;
}
.footer .text-center{
color:#ffffff;
}
.blog-post p{
text-align:justify;
}
.form-login{
margin-top:15% ;
margin-bottom:15%;
width:50%;
border:1px solid #ccc;
border-radius:5px;
padding:25px
}
.form-comman{
margin-top:2% ;
margin-bottom:11%;
padding:25px
}
/* pagination */

.pagination {
  display: inline-block;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active {
  background-color: #007BF5;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}